bin/Debug/Learn.exe
bin/Debug/Learn.exe.config
bin/Debug/Learn.pdb
bin/Debug/Learn.vshost.exe
bin/Debug/Learn.vshost.exe.config
obj/Debug/App.baml
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/GeneratedInternalTypeHelper.g.cs
obj/Debug/GeneratedInternalTypeHelper.g.i.cs
obj/Debug/Learn.csproj.FileListAbsolute.txt
obj/Debug/Learn.csproj.GenerateResource.Cache
obj/Debug/Learn.exe
obj/Debug/Learn.g.resources
obj/Debug/Learn.pdb
obj/Debug/Learn.Properties.Resources.resources
obj/Debug/Learn_Content.g.i.cs
obj/Debug/Learn_MarkupCompile.cache
obj/Debug/Learn_MarkupCompile.i.cache
obj/Debug/Learn_MarkupCompile.lref
obj/Debug/MainWindow.baml
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/Resources/ClassicCommands.baml
obj/Debug/Resources/ClassicStyle.baml
obj/Debug/Resources/ColorsAndBrushes.baml
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/View/Classic/CourseView.baml
obj/Debug/View/Classic/CourseView.g.cs
obj/Debug/View/Classic/CourseView.g.i.cs
obj/Debug/View/Classic/LearnMenu.baml
obj/Debug/View/Classic/LearnMenu.g.cs
obj/Debug/View/Classic/LearnMenu.g.i.cs
obj/Debug/View/Classic/LearnToolbar.baml
obj/Debug/View/Classic/LearnToolbar.g.cs
obj/Debug/View/Classic/LearnToolbar.g.i.cs
obj/Debug/View/Classic/LessonView.baml
obj/Debug/View/Classic/LessonView.g.cs
obj/Debug/View/Classic/LessonView.g.i.cs
obj/Debug/View/Classic/OpenCourse.baml
obj/Debug/View/Classic/OpenCourse.g.cs
obj/Debug/View/Classic/OpenCourse.g.i.cs
obj/Debug/View/Classic/OpenLesson.baml
obj/Debug/View/Classic/OpenLesson.g.cs
obj/Debug/View/Classic/OpenLesson.g.i.cs
obj/Debug/View/ClassicView.baml
obj/Debug/View/ClassicView.g.cs
obj/Debug/View/ClassicView.g.i.cs
bin/Debug/course0.xml
bin/Debug/Learn.vshost.exe.manifest
obj/Debug/Learn.csprojResolveAssemblyReference.cache
obj/Debug/Learn_MarkupCompile.i.lref
